nav{
    border: 2px solid;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 20px;
}
.main{
    width: 80vw;
    margin: 10px auto;
    background-color: lightcoral;
    border: 2px solid black;
    
}
.cont{
    display: none;
    /* visibility: hidden; */
}

.cont, .conti{
    border: 2px solid black;
margin: 2px;
}