h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline dotted red;
    line-height: 35px;
    letter-spacing: 12px;
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: cadetblue;
    text-decoration-style: double;
    text-decoration-thickness: 6px;
    text-indent: 52px;
    text-align: center;
}

.lorem{
    width: 50px;
    border: 2px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.break{
    width: 145px;
    border: 1px solid;
    margin-top: 12px;
    word-break: break-all;
}